extends layout

block content
  h1 #{title}
  form(method='POST', action='/bands/edit/'+band._id)
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=band.name)
    #form-group
      label Genre:
      input.form-control(name='genre', type='text', value=band.genre)
    #form-group
      label Origin:
      input.form-control(name='origin', type='text', value=band.origin)
    br
    input.btn.btn-primary(type='submit', value='Submit')
